body{
    user-select: none;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(22, 46, 8);
	
}


.first{
    margin-top: 10%;
    border: 10px solid rgb(24, 36, 19);
    padding: 10px;
    background-color: rgb(153, 157, 150);
    border-radius: 20px;
    border-style: outset;
}
